*, *::before, *::after {
  box-sizing: border-box;
  text-align: justify;
  font-family: Arial;
}
.qw{
 text-align: center;
  padding: 10px;
  background-color:skyblue;
  border-bottom: 15px solid darkblue;
  margin-block-start: 0%;

}
.rr{
  padding: 2px;
  border: 2px solid;
 border-radius: 10px;
}
.rl{
  display:flex;
  flex-wrap: wrap;
  gap: 6px;
  width: 90%;
  max-width: 320px;
  border: none;
}
.ro{
  display: flex;
  gap: 5px;
  width: 90%;
  max-width: 320px;
  border: none;
  margin-top: 20px;
}
.blocky{
  display: block;
}
.qq{
  background-color: blue;
  color: white;
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid rgb(150, 133, 133);
  height: 30px;
  width: 100%;
  max-width: 60px;
  display: block;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}
.qq:hover{
  transform: scale(1.1);
  color: white;
  background-color:red;
  box-shadow: 0px 1px 2px 1px rgb(218, 203, 203);
  border: none;
}
.qq:active{
  background-color: skyblue;
  color:black;
}
.ty{
 color: red;
}
.comms{
  border: 1px solid grey;
  color:black;
  font-size: 15px;
  font-weight: bold;
  border-radius: 7px;
}
.gap{
  gap: 10px;
  display: flex;
}
.ll{
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}
.flex{
  flex-wrap: wrap;
}
.let1{
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  padding-inline-end: 1rem;
}
body{
  min-block-size: 100vh;
  background-color:antiquewhite;
  margin: 0px;
  padding: 0px;
}
main{
  margin: 20px;
  flex: 1;
}
header{
position: fixed;
top: 0%;
right: 0%;
left: 0%;
}
.apple:link{
  text-decoration: none;
  font-size: 1.1rem;
}
.apple:hover{
  color:rgb(203, 18, 18);
}
.apple:visited{
  color:rgb(6, 52, 139)
}
.aside-content{
  padding: 10px;
  text-align: center;
}
  .add1{
    margin-block-start: 10px;
    inline-size: 90%;
    margin-inline: 1em;
    block-size: 1.6rem;
    border-radius: 5px;
    border: none;
    padding-inline: 0.5rem;
    color: black;
  }
  .add2{
    padding-block-start: 10px;
    padding-inline: 1.5rem;
}
.menu{
  font-size: 1.3rem;  
  margin-block: 1.7rem;
  text-decoration: none;
  display: flex;
  flex-direction: column;
    cursor: pointer;
    color: black;
    padding-inline: 0.5rem;
}
.menu:hover{
  color: rgb(238, 233, 233);
  transform: scale(1.1);
  transform: translateX(5px);
  box-shadow: 0px 1px 2px 1px rgb(218, 203, 203);
  inline-size: 90%;
}
.span1{
  font-size: 2rem;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  block-size: 2.5rem;
  margin-inline-start: 0.5rem;
}
.straw{
  background-color: rgb(0, 0, 0);
  block-size: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .rl{
    max-width: 100%;
    border: 2px solid;
    background-color: rgba(246, 249, 249, 0.793);
    border-radius: 20px;
    margin: 3px auto;
    border-bottom: 1px solid;
  }
.rr{
    border: none;
  padding: 2rem;
 }
.mafle{
    gap: 10px;
  }

  .flex{
    padding-block: 10px;
    margin: 0px auto 15px ;
  }
 .fieldset3{
  display: flex;
  place-items: center;
  place-content: center;
  gap: 0.8em;
   padding-block-start: 10px;
   padding-inline: 1.5rem;
    border: 2px solid;
    background-color: rgba(246, 249, 249, 0.793);
    border-radius: 20px;
    place-self: center;
    border-top: 1px solid;
  }
   .personal{
    max-width: 200px;
height: 200px;
  }
.comms{
    max-width: 95%;
    min-width: 95%;
    place-self: center;
    margin-block-end: 5px;
    margin-inline: 0.7rem;
    background-color: white;
    padding: 0.5rem;
    max-height: fit-content;
    min-height: 100px;
  }
.lopp{
    margin-inline-start: 25px;
  }
.kt{
    text-indent: 15px;
    font-size: 17px;
  }
 .rt{
  height: 25px;
  margin-block: 5px;
 }
.qq{
    background-color: blue;
    padding-inline: 0.4rem;
    padding-block: 0.5rem;
    max-width: 5rem;
    border-radius: 9px;
    display: flex;
    place-items: center;
    place-content: center;
  font-size: large;
  font-style: normal;
  height: auto;
  }
  .ops{
    display: flex;
    /*padding-inline-start: 90%;*/
    place-content: flex-end;
  }
.div-last{
    margin: 1rem;
    padding: 1rem;
   }
 .make{
    margin-block-start: 1.6rem;
    margin-inline-start: 2rem
   }
 main{
max-width: 80%;
margin: 5px auto;
padding-block: 1rem;
padding-inline: 3rem;
background-color: burlywood;
border-radius: 20px;
 }
  body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTKy0v6-VF8TVC3iKLtm1Pk-7vyYVkXhInSO5vrkSbEg&s=10');
    ;
    background-size: cover;
  }
hr{
  background-color: black;
  height: 2px;
  border: none;
}
.let1{
  display: flex;
  flex-direction: row-reverse;
}
.love{
  border-radius: 7px;
  border: 1px solid;
  padding: 0.2rem 0.5rem;
  margin-inline: 0.8rem;
  width: 100%;
}
aside{
  background: linear-gradient(to top,rgb(238, 180, 180), rgb(26, 101, 11), rgb(112, 139, 112));
  inline-size: 35%;
  margin-inline-end: 1em;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-block-start: 4.4rem;

}

}