*{
    box-sizing: border-box;
}
.header{
    text-align: center;
}
.container{

    background-color:aquamarine;
    border: 1px solid;
    height: 200px;
    width: 100%;
    max-width: 365px;
    margin-top: 150px;
    display: inline-block;
    height: 400px;
    padding: 5px;
}
.text{
    display: inline;
    height: 50px;
    font-size: 20px;
}
.rr{
    height: 40px;
    display: flex;
    width: 100%;
    max-width: 320px;
    border-radius: 5px;
    font-size: 20px;
    gap:5px;
    margin-bottom: 10px;
    padding: 5px;
    margin: 2px;
}
.form{
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 360px;
    margin: 10px;
    vertical-align: right;
}
body{
    background-color:aliceblue;
    padding: 10px;
}
.kl{
    display: block;
    margin-top: 15px;
    margin-left: 4px;
    padding: 10px;
    width: 100%;
    max-width: 320px;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: cyan;
}
.kl:active{
 background-color:deepskyblue;
}
